* {
    font-family: "mononoki, Symbols Nerd Font Mono, FontAwesome";
    /*font-weight: Bolder;*/
    font-size: 20px;
}

window#waybar {
    transition-property: background-color;
    transition-duration: .5s;
    background-color: rgba(1, 1, 1, 0.8);
    border-radius: 0;
    color: #fffffc;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#cpu,
#tray,
#clock,
#memory,
#network,
#pulseaudio,
#temperature,
#custom-power,
#custom-kernel,
#custom-updater {
    /*background-color: radial-gradient(45, #ff6000, #ff00ff);*/
    padding: 0px 0px;
    margin: 4px 12px;
}

#workspaces button {    /* Occupied & Unfocused Workspaces */
    background-color: transparent;
    text-shadow: 
        0px 0px 4px rgba(255, 154, 162, 0.8),
        0px 0px 4px rgba(255, 154, 162, 0.8),
        0px 0px 4px rgba(255, 154, 162, 0.8);
    padding: 0px 6px;
    margin: 3px 3px;
    color: #ff9aa2;
}

#workspaces button.persistent { /* Unoccupied & Unfocused Workspaces */
    text-shadow: none;
    color: silver;
}

#workspaces button:hover,
#workspaces button.persistent:hover {   /* Unoccupied/Unfocused Hover */
    text-shadow: 
        0px 0px 4px rgba(255, 154, 162, 0.8),
        0px 0px 4px rgba(255, 154, 162, 0.8),
        0px 0px 4px rgba(255, 154, 162, 0.8);
    box-shadow: none;
    color: #ff9aa2;
}

#workspaces button.active { /* Focussed Workspace */
    background-color: #ff9aa2;
    text-shadow:
        0px 0px 4px rgba(1, 1, 1, 0.5),
        0px 0px 4px rgba(1, 1, 1, 0.5),
        0px 0px 4px rgba(1, 1, 1, 0.5);
    box-shadow: none;
    color: rgb(1, 1, 1);
}
#workspaces button.active:hover {
    text-shadow: none;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#workspaces:last-child {
    margin-right: 8px;
}

#tags button {
    background-color: transparent;
    text-shadow: none;
    padding: 0px 4px;
    margin: 0px 4px;
    color: silver;
}

#tags button.occupied {
    color: #ff9aa2;
}

#tags button:hover,
#tags button.focused,
#tags button.focused:hover,
#tags button.occupied:hover {
    text-shadow: 
        0px 0px 4px #ff9aa2,
        0px 0px 4px #ff9aa2,
        0px 0px 4px #ff9aa2;
    box-shadow: none;
    color: #ff9aa2;
}

#taskbar,
#taskbar button:hover {
    text-shadow:
        0px 0px 4px #5e81ac,
        0px 0px 4px #5e81ac,
        0px 0px 4px #5e81ac;
    box-shadow: none;
}

#window {
    text-shadow: none;
}

#custom-kernel {
    color: #bdb2ff;
}

#pulseaudio {
    color: #a0c4ff;
}

#temperature {
    color: #9bf6ff;
}

#memory {
    color: #caffbf;
}

#network {
    color: #fdffb6;
}

#network.disconnected {
    color: #646464;
}

#clock {
    color: #ffd6a5;
}

#custom-power {
    color: #ff9aa2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#tray menu {
    background-color: rgb(1, 1, 1);
    color: silver;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

.modules-left:first-child {
    margin-left: 6px;
}

.modules-right:last-child {
    margin-right: 0px;
}

label:focus {
    color: #000000;
}
