window {
	background-color: rgba(1, 1, 1, 0.8);
	font-family: "mononoki";
	font-weight: Bold;
	font-size: 16px;
	color: silver;
}

#input {
	background-color: rgba(1, 1, 1, 0.8);
	box-shadow: none;
	padding: 6px 12px;
	margin: 12px;
	border: none;
	color: silver;
}

#entry {
	outline: 0;
	padding: 6px 12px;
	margin: 0 12px;
}

#entry:selected {
	background: linear-gradient(90deg, #ff6000, #ff00ff);
	outline: 0;
}

#text:selected {
	color: black;
}