@define-color nor_bg #1c1c1c;
@define-color sel_bg #282c34;

@define-color urgent #8f0a0a;
@define-color color_text #dddddd;

@define-color active_border #6699cc;
@define-color inactive_border #424242;

/* -- base styles -- */
* {
    border-radius: 0;
    font-family: "mononoki, Symbols Nerd Font Mono";
    font-weight: Normal;
    text-shadow: none;
    box-shadow: none;
    font-size: 18px;
    border: none;
}

box, menubar, button {
    background-color: @nor_bg;
    background-image: none;
}

button, label {
    padding: 0 4px;
    color: @color_text;
}

button:hover {
    background-color: @sel_bg;
}

.popup {
    border: 1px solid @inactive_border;
    padding: 1em;
}

/* -- clipboard -- */
.clipboard {
    font-size: 1.1em;
}

.popup-clipboard .item {
    padding-bottom: 0.3em;
    border-bottom: 1px solid @inactive_border;
}


/* -- clock -- */
.clock {
}

.popup-clock .calendar-clock {
    color: @color_text;
    font-size: 2.5em;
    padding-bottom: 0.1em;
}

.popup-clock .calendar {
    background-color: @nor_bg;
    color: @color_text;
}

.popup-clock .calendar .header {
    padding-top: 1em;
    border-top: 1px solid @inactive_border;
    font-size: 1.5em;
}

.popup-clock .calendar:selected {
    background-color: @active_border;
}

/* -- launcher -- */
.launcher .item {
    padding: 0 6px;
    margin: 0;
    color: @sel_bg;
}

.launcher .item:not(.focused):hover {
    background-color: @sel_bg;
}

.launcher .open {
    border-bottom: 1px solid @color_text;
}

.launcher .focused {
    border-bottom: 2px solid @active_border;
}

.launcher .urgent {
    border-bottom-color: @urgent;
}

/* -- music -- */
.music:hover * {
    background-color: @sel_bg;
}

.popup-music .album-art {
    margin-right: 1em;
}

.popup-music .icon-box {
    margin-right: 0.4em;
}

.popup-music .title .icon, .popup-music .title .label {
    font-size: 1.7em;
}

.popup-music .controls *:disabled {
    color: @inactive_border;
}

.popup-music .volume .slider slider {
    border-radius: 100%;
}

.popup-music .volume .icon {
    margin-left: 4px;
}

.popup-music .progress .slider slider {
    border-radius: 100%;
}

/* -- script -- */
.script {
    padding-left: 10px;
}

/* -- sys_info -- */
.sysinfo {
    margin-left: 10px;
}

.sysinfo .item {
    margin-left: 5px;
}

/* -- tray -- */
.tray {
    margin-left: 4px;
}

/* -- workspaces -- */
.workspaces .item:hover,
.workspaces .item.focused {
    background-color: @sel_bg;
    box-shadow: inset 0 -3px;
}

/* -- custom: power menu -- */
.popup-power-menu #header {
    padding-bottom: 0.4rem;
    margin-bottom: 0.6rem;
    border-bottom: 1px solid @inactive_border;
    font-size: 1.4em;
}

.popup-power-menu .power-btn {
    padding: 1rem;
    margin: 4px;
    border: 1px solid @inactive_border;
}
