* {
    background-color: transparent;
}

window {
    background-color: rgba(16, 16, 16, 0.66);
}

button {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 25%;
    outline-style: none;
    border-radius: 0;
    font-family: "mononoki";
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    font-size: 24px;
    border: solid 1px #000000;
    color: white;
}

button:focus, button:active, button:hover {
    background-color: silver;
    color: black;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:focus,
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:focus,
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:focus,
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:focus,
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}